$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a1a32792b3472e7af58d248f5f113f6f") format("truetype"),
url("./flaticon.woff?a1a32792b3472e7af58d248f5f113f6f") format("woff"),
url("./flaticon.woff2?a1a32792b3472e7af58d248f5f113f6f") format("woff2"),
url("./flaticon.eot?a1a32792b3472e7af58d248f5f113f6f#iefix") format("embedded-opentype"),
url("./flaticon.svg?a1a32792b3472e7af58d248f5f113f6f#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "plus": "\f101",
    "minus": "\f102",
    "book": "\f103",
    "open-book": "\f104",
);

.flaticon-plus:before {
    content: map-get($flaticon-map, "plus");
}
.flaticon-minus:before {
    content: map-get($flaticon-map, "minus");
}
.flaticon-book:before {
    content: map-get($flaticon-map, "book");
}
.flaticon-open-book:before {
    content: map-get($flaticon-map, "open-book");
}
